<div class="container-details">
    <ul>
        {{#each deal}}
            <li><span class="container-details__name">{{@key}}</span><span class="container-details__value">{{this}}</span></li>
        {{/each}}
    </ul>
</div>
