<html>
<head>
    <link rel="stylesheet" href="/css/dealDetails.css"/>
    <link rel="stylesheet" href="/css/deals.css"/>
    <link rel="stylesheet" href="/css/outcome.css"/>
</head>
<body>
{{{body}}}
<script type="module"
        src="/js/sdk/sdk.js"
></script>
<script type="module"
        src="/js/api/api.js"
></script>
<script type="module"
        src="/js/main.js"
></script>
</body>
</html>
