<div>
    <h1 class="container-outcome">{{dealTitle}} is created
        <button data-deal-id="{{newDealId}}" id="button-viewDeal-id">View Deal</button>
        <button type="button">View in Test</button>
    </h1>
</div>
